.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.header__logo {
    height: 1.5rem;
    object-fit: contain;
    margin-left: 1.5rem;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__middle {
    display: flex;
    align-items: center;
}

.header__right {
    display: flex;
    align-items: center;
}