.recommendedVideos {
    flex: 0.8;
    background-color: #f8f8f8;
    padding: 3rem 1.5rem;
    padding-bottom: 0;
}

.recommendedVideos > h2 {
    margin-left: 0.25rem;
    margin-bottom: 2rem;
}

.recommendedVideos__videos {
    display: flex;
    flex-wrap: wrap;
}