.searchPage {
    flex: 0.8;
    background-color: rgb(245, 245, 245);
    padding: 1rem;
}

.searchPage > hr {
    height: 1px;
    border: none;
    background-color: lightgrey;
    margin-top: 10px;
    margin-bottom: 10px;
}

.searchPage__filter {
    display: flex;
    align-items: center;
    color: darkgrey;
    font-size: xx-small;
}

.searchPage__filter > h2 {
    margin-left: 0.5rem;
}