.videoCard {
    margin-bottom: 40px;
    margin-right: 5px;
    width: 270px;
}

.videoCard__thumbnail {
    max-width: 100%;
}

.videoCard__info {
    display: flex;
    margin-top: 0.5rem;
    padding-right: 1rem;
}

.videoCard__avatar {
    height: 2rem !important;
    width: 2rem !important;
}

.videoCard__text {
    padding-left: 1rem;
}

.videoCard__text > h4 {
    font-size: 0.8rem;
}

.videoCard__text > p {
    font-size: 0.8rem;
}