.videoRow {
    display: flex;
    max-width: 700px;
    margin-bottom: 2.5rem;
}

.videoRow > img {
    object-fit: contain;
    width: 246px;
    height: 138px;
}

.videoRow__text {
    margin-left: 1rem;
}

.videoRow__headline {
    font-size: 1rem;
    color: rgb(124, 124, 124);
}

.videoRow__description {
    margin-top: 1rem;
    font-size: 1rem;
    color: rgb(124, 124, 124);
}

.videoRow__subs {
    background-color: lightgrey;
    padding: 2px;
}

.videoRow__subsNumber {
    font-weight: bolder;
    color: blue;
}